{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="text-center my-3">Sites Count</h1>

  <div>
    <div class="d-flex justify-content-center my-3">
      <form method="post" class="row">
        {% csrf_token %}
        <div class="col-auto">
          {{ form.date|as_crispy_field }}
        </div>
        <div class="col-auto">
          {{ form.table_type|as_crispy_field }}
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
      </form>
    </div>
  </div>

  {% if sites %}
    <h3 class="text-center my-3">Kcell sites devided by {{ header }}</h3>
    <table class="table table-bordered table-striped text-center mx-auto w-auto">
      <thead>
        <tr>
          <th scope="col" class="px-5">{{ header }}</th>
          <th scope="col" class="px-5">2G</th>
          <th scope="col" class="px-5">3G</th>
          <th scope="col" class="px-5">4G</th>
          <th scope="col" class="px-5">5G</th>
          <th scope="col" class="px-5">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for row in sites %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
<script>
    $(document).ready(function() {
      var today = new Date().toISOString().split('T')[0];
      $('#id_date').val(today);
    });
</script>
{% endblock content %}
