{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="text-center my-3">G2U neighbors</h1>

  <div class="d-flex justify-content-center">
    <a href="{% url 'nbr-download-template' technology='G2U' %}" class="nav-link link-primary">Download G2U nbr template</a>
  </div>

  <h4 class="text-center mt-5">Upload G2U planned neighbors</h4>

  <div class="d-flex justify-content-center my-3">
    <form id="g2u-nbr" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-center">
        <button id="g2u-submit" type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
  </div>

</div>
<script>
  const g2uNbrForm = document.getElementById('g2u-nbr');

  g2uNbrForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const submitBtn = document.getElementById('g2u-submit');
    submitBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...'
    const formData = new FormData(g2uNbrForm);

    fetch('{% url "nbr-g2u" %}', {
      method: 'POST',
      body: formData
    })
    .then(response => response.blob())
    .then(data => {
      const url = window.URL.createObjectURL(data);
      const anchor = document.createElement("a");
      anchor.href = url;
      anchor.download = 'G2U-NBR.zip';
      anchor.click();
      window.URL.revokeObjectURL(url);
      submitBtn.innerHTML = 'Upload';
      g2uNbrForm.reset();
    });
  });

</script>
{% endblock content %}