{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-3 mb-3">TR Data</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">IP Address</h5>
          <p class="card-text">👇 Click the "Download" button to get the data.</p>
          <form method="POST" id="ip-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="ip">
            <button type="submit" class="btn btn-primary mt-3 d-block mx-auto" id="ip-submit">Download</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">Clock Reference Status</h5>
          <p class="card-text">👇 Click the "Download" button to get reference statuses.</p>
          <form method="POST" id="sts-data">
            {% csrf_token %}
            <input type="hidden" name="action" value="sts">
            <button type="submit" class="btn btn-primary mt-3 d-block mx-auto" id="sts-submit">Download</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Check Synchronization status</h5>
          <p class="card-text">🔍 Enter site id or sitename and click "Check".</p>

          <form method="POST" id="sts-check" class="row">
            {% csrf_token %}
            <input type="hidden" name="action" value="check">
            <div class="d-flex justify-content-center">
              <div class="col-sm-8 col-md-6 col-lg-5">
                {{ search_form.query|as_crispy_field }}
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success mx-2" id="check-submit">Check</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  {% if node_sts %}
    <div class="mt-4">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <th>ENM</th>
          <th>Site</th>
          <th>RadioEquipmentClockReferenceId</th>
          <th>referenceStatus</th>
          <th>syncRefType</th>
          <th>ptpProfile</th>
          <th>associatedGrandmaster</th>
        </thead>
        <tbody>
          {% for row in node_sts %}
            <tr {% if row.referenceStatus|contains_any:fault_keywords %}class="table-danger"{% endif %}>
              <td>{{ row.ENM }}</td>
              <td>{{ row.NodeId }}</td>
              <td>{{ row.RadioEquipmentClockReferenceId }}</td>
              <td>{{ row.referenceStatus }}</td>
              <td>{{ row.syncRefType }}</td>
              <td>{{ row.ptpProfile|default_if_none:"" }}</td>
              <td>{{ row.associatedGrandmaster|default_if_none:"" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endif %}


</div>

<script>
  const disableSubmitButtons = (btns) => {
    btns.forEach(btn => btn.disabled = true);
  }

  const enableSubmitButtons = (btns) => {
    btns.forEach(btn => btn.disabled = false);
  }

  const showLoading = (btn) => {
    btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span>Loading...';
  }


  const eventListener = (form, submitBtn, fileName, btns) => {
    disableSubmitButtons(btns);
    showLoading(submitBtn)

    fetch('{% url "tr-data-index" %}', {
      method: 'POST',
      body: new FormData(form),
    })
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    })
    .finally(() => {
      enableSubmitButtons(btns)
      submitBtn.innerHTML = 'Download';
    });
  }


  const ipForm = document.getElementById('ip-data');
  const ipSubmit = document.getElementById('ip-submit');

  const stsForm = document.getElementById('sts-data');
  const stsSubmit = document.getElementById('sts-submit');

  const checkForm = document.getElementById('sts-check');
  const checkSubmit = document.getElementById('check-submit');

  const allBtns = document.querySelectorAll('button[type="submit"]');

  ipForm.addEventListener('submit', (event) => {
    event.preventDefault();
    eventListener(ipForm, ipSubmit, 'ip_data.xlsx', allBtns);
  });

  stsForm.addEventListener('submit', (event) => {
    event.preventDefault();
    eventListener(stsForm, stsSubmit, 'sts_data.xlsx', allBtns);
  });

  checkForm.addEventListener('submit', (event) => {
    disableSubmitButtons(allBtns);
    showLoading(checkSubmit);
  });

</script>

{% endblock %}
