{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-3">Select technologies</h1>

  <div class="d-flex justify-content-center align-items-center">
    <form method="POST" id="network_live">
      {% csrf_token %}
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="nr" id="nr">
        <label class="form-check-label" for="nr">
          NR Cells
        </label>
      </div>
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="lte" id="lte">
        <label class="form-check-label" for="lte">
          LTE Cells
        </label>
      </div>
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="wcdma" id="wcdma">
        <label class="form-check-label" for="wcdma">
          WCDMA Cells
        </label>
      </div>
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="gsm" id="gsm">
        <label class="form-check-label" for="gsm">
          GSM Cells
        </label>
      </div>
      <button type="submit" class="btn btn-primary mt-3 d-block mx-auto" id="nl-submit">Download</button>
    </form>
  </div>
</div>

<script>
  const nlForm = document.getElementById('network_live');

  nlForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const submitBtn = document.getElementById('nl-submit');
      submitBtn.innerHTML = '<span class="spinner-border spinner-border-sm"></span>Loading...';

      const formData = new FormData();
      checkboxes = document.querySelectorAll('.form-check-input:checked');
      const technologiesArray = Array.from(checkboxes).map(checkbox => checkbox.value);
      const sortedTechnologies = technologiesArray.sort();

      if (sortedTechnologies.length === 0) {
          alert('Choose at least one technology.');
          submitBtn.innerHTML = 'Download';
          return;
      }
      sortedTechnologies.forEach(technology => {
          formData.append('technologies[]', technology);
      });
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

      fetch('{% url "nl-index" %}', {
          method: 'POST',
          body: formData
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.blob();
      })
      .then(data => {
          const url = window.URL.createObjectURL(data);
          const anchor = document.createElement("a");
          anchor.href = url;
          const selectedTechnologies = sortedTechnologies.join('_');
          anchor.download = 'kcell_' + selectedTechnologies + '_data.xlsx';
          anchor.click();

          submitBtn.innerHTML = 'Download';
          checkboxes.forEach(checkbox => {
              checkbox.checked = false;
          })
      })
      .catch(error => {
          console.error('Fetch error:', error);
          submitBtn.innerHTML = 'Download';
      });
  });

</script>
{% endblock %}
