{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div>
  <h1 class="text-center mt-3">Hardware Info</h1>

  <!-- Карточка для скачивания HW данных -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">Download Hardware Data</h5>
          <p class="card-text">👇 Click the "Download" button to get the HW data.</p>
          <form method="POST" id="hw-info">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" id="hw-submit">Download</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Карточка для поиска -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title">Search HW by site</h5>
          <p class="card-text">🔍 Enter site id or sitename and click "Search".</p>

          <form method="GET" id="search-form" class="row">
            <div class="d-flex justify-content-center">
              <div class="col-sm-8 col-md-6 col-lg-5">
                {{ search_form.query|as_crispy_field }}
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success mx-2">Search</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- Таблица с результатами -->
  {% if site_hw_data %}
    {% with columns=site_hw_data.0 rows=site_hw_data.1 %}
      <div class="mt-4">

        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            {% for column in columns %}
              <th>{{ column }}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                {% for cell in row %}
                  <td>{{ cell|default:"" }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    {% endwith %}
  {% endif %}

</div>

<script>
  const hwForm = document.getElementById('hw-info');
  const submitBtn = document.getElementById('hw-submit');

  hwForm.addEventListener('submit', (event) => {
    event.preventDefault();
    submitBtn.innerHTML = '<span class="spinner-border spinner-border-sm"></span>Loading...';
    fetch('{% url "hw-info-index" %}', {
      method: 'POST',
      body: new FormData(hwForm),
    })
    .then(response => response.blob())
    .then(blob => {
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = 'hw-info.xlsx';
      document.body.appendChild(a);
      a.click();
      a.remove();
      window.URL.revokeObjectURL(url);
      submitBtn.innerHTML = 'Download';
    });
  });



</script>

{% endblock %}
