{% load django_bootstrap5 %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rantools</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
  <style>
    {% block style %}{% endblock style %}
  </style>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Rantools</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link align-middle px-0">
                <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
            </li>

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'bts-info' %}" class="nav-link align-middle px-0">
                  <i class="fas fa-broadcast-tower"></i> <span class="ms-1 d-none d-sm-inline">BTS Info</span>
                </a>
              </li>

              {% if request.user|in_group:"RNPO Users" %}
                <li class="nav-item">
                  <a href="{% url 'bts-files' %}" class="nav-link align-middle px-0">
                    <i class="fas fa-file-export"></i> <span class="ms-1 d-none d-sm-inline">BTS Files</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'nl-index' %}" class="nav-link align-middle px-0">
                    <i class="fas fa-signal"></i> <span class="ms-1 d-none d-sm-inline">Network Live</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'nbr-index' %}" class="nav-link align-middle px-0">
                    <i class="fas fa-link"></i> <span class="ms-1 d-none d-sm-inline">Neighbors</span>
                  </a>
                </li>
              {% endif %}

              {% if request.user|in_group:"DayX" %}
                <li class="nav-item">
                  <a href="{% url 'dayX' %}" class="nav-link align-middle px-0">
                    <i class="fa fa-user-secret"></i> <span class="ms-1 d-none d-sm-inline">DayX</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            <li class="nav-item">
              <a href="{% url 'api-docs' %}" class="nav-link align-middle px-0">
                <i class="fas fa-book"></i> <span class="ms-1 d-none d-sm-inline">API Docs</span>
              </a>
            </li>
          </ul>

          <hr>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i> <span class="ms-1 d-none d-sm-inline">Login</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">
                  <i class="fas fa-user-plus"></i> <span class="ms-1 d-none d-sm-inline">Sign up</span>
                </a>
              </li>
            {% endif %}
          </ul>

        </div>
      </div>

      <div class="col py-3">


        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="text-center alert alert-info alert-dismissible fade show" role="alert">
            {% elif message.tags == 'error' %}
              <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
            {% endif %}
              {{  message }}
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock content %}

      </div>
    </div>
  </div>

</body>
</html>